<ion-view title="பயிற்சி 1 : தேர்ந்தெடுத்தல்" id="page31">
  <ion-content padding="true" style="background: url(img/qzpmQsRnyd5GTgE2Er4Q_b4410db3cfefcdc9a1129ac834e69805.gif) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/1g7fSsLSTLGPikZU7cio_our-work.93b6de07.gif" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div style="margin-right:-20px;">
      <button id="1-button137" style="left:-10px;font-weight:600;font-size:14px;" class="button button-dark button-full">படங்களைப் பார்த்துக் கீழே கொடுக்கப்பட்ட சொற்களில் சரியானதைத் தெரிவு செய்யவும் </button>
    </div>
    <div>
      <img src="img/8lyfjPJ2TNWOsV8D6lAL_NITHI.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="1-button-bar10" class="button-bar">
      <a ui-sref="12()" id="1-button147" style="font-weight:600;color:#010505;font-size:18px;" class="button button-energized button-block">நீதி</a>
      <a ui-sref="13()" id="1-button148" style="font-weight:600;color:#050000;font-size:18px;" class="button button-calm button-block">நிதி</a>
    </div>
    <div>
      <img src="img/75CeaNgeS1qYGnHxWLG5_2000px-11_icon.svg.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="1-button-bar11" class="button-bar">
      <a ui-sref="12()" id="1-button153" style="font-weight:600;font-size:18px;" class="button button-balanced button-block">நவம்பர்</a>
      <a ui-sref="13()" id="1-button154" style="font-weight:600;font-size:18px;" class="button button-assertive button-block">நாவம்பர்</a>
    </div>
    <div>
      <img src="img/n2JkBud1Q0WarcKqpXQC_teeneer.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="1-button-bar12" class="button-bar">
      <a ui-sref="13()" id="1-button159" style="font-weight:600;font-size:19px;" class="button button-positive button-block">தேணீர்</a>
      <a ui-sref="12()" id="1-button160" style="font-weight:600;font-size:18px;" class="button button-royal button-block">தேநீர்</a>
    </div>
    <div>
      <img src="img/rvPuo9PiR7m1YxaFclfn_animated-shoe-image-0111.gif" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="1-button-bar13" class="button-bar">
      <a ui-sref="13()" id="1-button165" style="font-weight:600;font-size:18px;" class="button button-balanced button-block">காலனி</a>
      <a ui-sref="12()" id="1-button166" style="font-weight:600;font-size:18px;" class="button button-royal button-block">காலணி</a>
    </div>
    <div>
      <img src="img/fkNEr502TQqFZj11lgm4_bengali-marriage-clipart-png-3.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="1-button-bar40" class="button-bar">
      <a ui-sref="12()" id="1-button181" style="font-weight:600;font-size:16px;" class="button button-assertive button-block">திருமணம்</a>
      <a ui-sref="13()" id="1-button182" style="font-weight:600;font-size:16px;" class="button button-positive button-block">திருமனம்</a>
    </div>
    <div>
      <img src="img/sCpTIyFUSlOJM1unYCAg_kan.gif" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="1-button-bar15" class="button-bar">
      <a ui-sref="13()" id="1-button177" style="font-weight:600;font-size:18px;" class="button button-balanced button-block">கன்</a>
      <a ui-sref="12()" id="1-button178" style="font-weight:600;color:#010301;font-size:18px;" class="button button-calm button-block">கண்</a>
    </div>
    <div>
      <img src="img/aypjIYNT9uMK0VF96xGv_Schwan.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="1-button-bar17" class="button-bar">
      <a ui-sref="13()" id="1-button189" style="font-weight:600;font-size:17px;" class="button button-assertive button-block">அண்ணம்</a>
      <a ui-sref="12()" id="1-button190" style="font-weight:600;font-size:18px;" class="button button-royal button-block">அன்னம்</a>
    </div>
    <div>
      <img src="img/SOrGYj6ASwi5Y1xTemtD_SpryGrotesqueIvorybilledwoodpecker-max-1mb.gif" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="1-button-bar18" class="button-bar">
      <a ui-sref="13()" id="1-button192" style="font-weight:600;color:#070A03;font-size:18px;" class="button button-energized button-block">சாதணை</a>
      <a ui-sref="12()" id="1-button193" style="font-weight:600;" class="button button-balanced button-block">சாதனை</a>
    </div>
    <div>
      <img src="img/a38wtKd5Rhu6rr9ngAGN_animated-radio-image-0070.gif" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="1-button-bar19" class="button-bar">
      <a ui-sref="13()" id="1-button198" style="font-weight:600;font-size:15px;" class="button button-positive button-block">வாணொலி</a>
      <a ui-sref="12()" id="1-button199" style="font-weight:600;font-size:15px;" class="button button-balanced button-block">வானொலி</a>
    </div>
  </ion-content>
</ion-view>