<ion-view title="பயிற்சி 1 : தேர்ந்தெடுத்தல் " id="page39">
  <ion-content padding="true" style="background: url(img/sPNGpzqRzSZc70gznZLB_b4410db3cfefcdc9a1129ac834e69805.gif) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/CYTIg9oSR4uCxKvuD4Ac_tumblr_inline_olv3rmthl41tjxhhx_250.gif" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="12-button315" style="font-weight:600;font-size:25px;" class="button button-balanced button-block">சரியான பதில் !</button>
    <button id="12-button316" style="font-weight:600;font-size:25px;" class="button button-assertive button-block">வாழ்த்துகள்</button>
    <button id="12-button317" style="font-weight:600;font-size:20px;" class="button button-royal button-block">அடுத்த கேள்விக்கு (Back) விசை அழுத்திச் செல்லவும்</button>
  </ion-content>
</ion-view>