<ion-view title="பயிற்சி 1 : தேர்ந்தெடுத்தல் " id="page41">
  <ion-content padding="true" style="background: url(img/sPNGpzqRzSZc70gznZLB_b4410db3cfefcdc9a1129ac834e69805.gif) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/0FV399xSkiK9zeRkvhVU_giphy1.gif" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="13-button318" style="font-weight:600;font-size:25px;" class="button button-royal button-block">தவறான பதில் !</button>
    <button id="13-button319" style="font-weight:600;font-size:25px;" class="button button-balanced button-block">முயற்சிக்கு நன்று</button>
    <button id="13-button320" style="font-weight:600;font-size:24px;" class="button button-assertive button-block">மீண்டும் மீள்பார்வை செய்யவும் </button>
  </ion-content>
</ion-view>