<ion-view title="னகரம் " id="page29" style="background-color:#151313;">
  <ion-content padding="true" style="background: url(img/RnPmbMyR8ftBiwh9uJg2_original.gif) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="page29-heading8" style="color:#F8F8F8;font-weight:600;text-align:center;">காணொளியைப் பார்த்து வாசிக்கும் முறையைக் கற்றுக் கொள்ளவும் </h4>
    <div ng-init="videourl_video6=&quot;https://www.youtube.com/embed/xHJzjXmg9W0?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page29-video6">
      <iframe src="{{videourl_video6}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="page29-heading9" style="color:#FAE707;font-weight:600;text-align:center;">கீழே கொடுக்கப்பட்ட சொற்களைக் காணொளியின் துணையுடன் வாசிக்கவும்</h4>
    <div>
      <img src="img/L751Pc6jTUy8axlvF7Pq_Picture1.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page29-button127" style="font-weight:600;font-size:25px;" class="button button-balanced button-block">கன்னம்</button>
    <div>
      <img src="img/oH8jhNZYTBKCprKWHHV6_vimanam.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page29-button128" style="font-weight:600;font-size:25px;" class="button button-positive button-block">விமானம்</button>
    <div>
      <img src="img/PVxcwsHhQ0mzcW4mODRv_a01cf104be26da90c74e804cbb722c65.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page29-button129" style="font-weight:600;font-size:25px;" class="button button-assertive button-block">ஆனந்தம்</button>
    <div>
      <img src="img/IFHJ5MUS7OenUAklHPIQ_Picture2.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page29-button130" style="font-weight:600;font-size:25px;" class="button button-royal button-block">அன்னம்</button>
    <div>
      <img src="img/XTr5DlTHTGy4WPvgKaCD_barbell-clipart-deadlift-2.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page29-button131" style="font-weight:600;color:#000000;font-size:25px;" class="button button-energized button-block">கடினம்</button>
  </ion-content>
</ion-view>