<ion-view title="நகரம் " id="page43" style="background-color:#151313;">
  <ion-content padding="true" style="background: url(img/GaL3DusWR8qLFyQsjQTl_b4ee5b6d3e504c1eb097ca81c00d4709.gif) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="page43-heading11" style="color:#FFFFFF;font-weight:600;text-align:center;">காணொளியைப் பார்த்து வாசிக்கும் முறையைக் கற்றுக் கொள்ளவும் </h4>
    <div ng-init="videourl_video7=&quot;https://www.youtube.com/embed/u7P7yY3d-0Q?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page43-video7">
      <iframe src="{{videourl_video7}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="page43-heading12" style="color:#11FF0A;font-weight:600;text-align:center;">கீழே கொடுக்கப்பட்ட சொற்களைக் காணொளியின் துணையுடன் வாசிக்கவும்</h4>
    <div>
      <img src="img/Y2OWUUnRK6cAgd3TlN1w_Nanbargal.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page43-button361" style="font-weight:600;font-size:25px;" class="button button-positive button-block">நண்பர்கள்</button>
    <div>
      <img src="img/UWHTjgSlQFq4rrLq86YS_Naanayam.gif" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page43-button362" style="font-weight:600;font-size:25px;" class="button button-balanced button-block">நாணயம் </button>
    <div>
      <img src="img/D0SzTSASVWgjVc2AH8W8_November.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page43-button363" style="font-weight:600;font-size:25px;" class="button button-royal button-block">நவம்பர்</button>
    <div>
      <img src="img/JM2fVIq9SHmvlr1RPROh_naalkaati.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page43-button364" style="font-weight:600;font-size:25px;" class="button button-assertive button-block">நாட்காட்டி</button>
    <div>
      <img src="img/c3DGlXNvR5qndPOK1H8A_Naatupatru.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page43-button365" style="font-weight:600;font-size:25px;" class="button button-calm button-block">நாட்டுப்பற்று</button>
  </ion-content>
</ion-view>