<ion-view title="உதவிகள்" id="page36">
  <ion-content padding="true" style="background: url(img/ZuwmY9GcSKmqppGUcOYs_source.gif) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/fBuej39SyCwbQjEtzAgB_1a9884c369a59cf4eec63fe9f3e4f677.png" style="display: block; width: 45%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page36-heading23" style="color:#00EDFF;font-weight:600;text-align:center;">மேல் விபரங்களை அறியவும் ஏதேனும் சிக்கலைக் களையும் வழிமுறையை அறியவும், </h4>
    <h4 id="page36-heading24" style="color:#EBFF00;font-weight:600;text-align:center;">ஆசிரியரை அணுகலாம் :</h4>
    <a href="mailto:kannananamalai31@gmail.com" id="page36-button355" style="font-weight:600;font-size:20px;" class="button button-balanced button-block">ஆசிரியர் கண்ணன் </a>
    <ion-list id="page36-list27">
      <ion-item class="item-icon-left dark" id="page36-list-item44" href-inappbrowser="https://www.facebook.com/Prince.Charming.Kannan.Annamalai">
        <i class="icon ion-social-facebook"></i>Kannan Anamalai</ion-item>
      <ion-item class="item-icon-left" id="page36-list-item45" href-inappbrowser="https://www.instagram.com/khannan_31?r=nametag">
        <i class="icon ion-social-instagram"></i>khannan_31</ion-item>
      <ion-item class="item-icon-left" id="page36-list-item46" href="mailto:kannananamalai31@gmail.com">
        <i class="icon ion-ios-email"></i>kannananamalai31@gmail.com</ion-item>
    </ion-list>
  </ion-content>
</ion-view>