<ion-view title="வாசிப்புத் தோழன்" id="page42">
  <ion-content padding="true" style="background: url(img/GZ6OERHZS1DHcWWTRvmi_crop.jpeg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/Q0xqGmGIRJ2ZtsfmnHYQ_Picture1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page42-heading17" style="color:#FFEC0A;font-weight:600;text-align:center;">வாசித்துப் பழகுவோம்</h4>
    <div>
      <img src="img/qkuNmx5tRMeR85kfhuCQ_study-clipart-school-student-study-6.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page42-heading13" style="color:#13FFE4;font-weight:600;text-align:center;">சொற்களை வாசிக்கும் முறையைப் பார்ப்போம்</h4>
    <a ui-sref="page28()" id="page42-button371" style="font-weight:600;" class="button button-assertive button-block">ணகரம்</a>
    <a ui-sref="page43()" id="page42-button372" style="font-weight:600;" class="button button-royal button-block">நகரம்</a>
    <a ui-sref="page29()" id="page42-button373" style="font-weight:600;" class="button button-balanced button-block">னகரம்</a>
    <h4 id="page42-heading14" style="color:#EEFF0A;font-weight:600;text-align:center;">சொற்களை வாசித்ததும் பயிற்சி செய்யவும்</h4>
    <a ui-sref="page30()" id="page42-button374" style="font-weight:600;" class="button button-positive button-block">பயிற்சி</a>
    <h4 id="page42-heading15" style="color:#0FFF2C;font-weight:600;text-align:center;">மேல் விபரங்களுக்கு</h4>
    <div id="page42-button-bar42" class="button-bar">
      <a ui-sref="page34()" id="page42-button381" class="button button-calm button-block icon ion-android-people"></a>
      <a ui-sref="page36()" id="page42-button382" class="button button-energized button-block icon ion-information-circled"></a>
    </div>
  </ion-content>
</ion-view>