<ion-view title="எங்களைப் பற்றி " id="page34" style="background-color:#850D33;">
  <ion-content padding="true" style="background: url(img/UKtNPVIWQXWCznl0Tcan_source.gif) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/UjVFjUNVQu2fK4QAFzvb_teachers-day-2016-peru-5986866463506432-hp2x.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 13px;"></div>
    <ion-list id="page34-list22">
      <ion-item class="item-icon-left assertive" id="page34-list-item40">
        <i class="icon ion-android-phone-portrait"></i>வாசிப்புத் தோழன் </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div>
      <img src="img/yXs0Sy5Tc6GKxOFP8KlW_Picture6.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page34-button291" style="font-weight:600;font-size:17px;" class="button button-royal button-block icon-right ion-man">ஆசிரியர் கண்ணன் </button>
    <button id="page34-button292" style="font-weight:600;font-size:15px;" class="button button-balanced button-block icon-right ion-ios-bookmarks">ணகரம், நகரம் &amp; னகரம்</button>
    <ion-list id="page34-list24">
      <ion-item class="item-icon-left assertive" id="page34-list-item41">
        <i class="icon ion-android-phone-portrait"></i>வாசிப்புத்துளிகள் </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 14px;"></div>
    <div>
      <img src="img/wG14nCFESMa9QFCSHFJI_photo6109433246342293630.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page34-button347" style="font-weight:600;font-size:17px;" class="button button-royal button-block icon-right ion-woman">ஆசிரியை கோகிலா</button>
    <button id="page34-button348" style="font-weight:600;font-size:15px;" class="button button-balanced button-block icon-right ion-ios-bookmarks">லகரம், ளகரம் &amp; ழகரம்</button>
    <ion-list id="page34-list26">
      <ion-item class="item-icon-left assertive" id="page34-list-item43">
        <i class="icon ion-ionic"></i>Hertz</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 12px;"></div>
    <div>
      <img src="img/WzgFQYyT565QnmAAfcc6_photo6109148820723050893.jpg" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page34-button349" style="font-weight:600;font-size:17px;" class="button button-royal button-block icon-right ion-woman">ஆசிரியை சர்மளா</button>
    <button id="page34-button350" style="font-weight:600;font-size:15px;" class="button button-balanced button-block icon-right ion-ios-bookmarks">ரகரம் &amp; றகரம் </button>
    <div class="spacer" style="width: 300px; height: 27px;"></div>
    <button id="page34-button351" style="font-weight:600;color:#EDFF0F;font-size:20px;" class="button button-dark button-block">ஆசிரியர் பணியே அறப்பணி. அதற்கு உன்னை அர்ப்பணி</button>
  </ion-content>
</ion-view>