<ion-view title="ணகரம் " id="page28" style="background-color:#151313;">
  <ion-content padding="true" style="background: url(img/LVJ6QKcJQd6Ocw6f7XG0_1487228976_tumblr_obamufQ6pK1vsjcxvo1_500.gif) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="page28-heading6" style="color:#FFFFFF;font-weight:600;text-align:center;">காணொளியைப் பார்த்து வாசிக்கும் முறையைக் கற்றுக் கொள்ளவும் </h4>
    <div ng-init="videourl_video8=&quot;https://www.youtube.com/embed/9N5UJXmZAo0?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page28-video8">
      <iframe src="{{videourl_video8}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h4 id="page28-heading7" style="color:#11FF0A;font-weight:600;text-align:center;">கீழே கொடுக்கப்பட்ட சொற்களைக் காணொளியின் துணையுடன் வாசிக்கவும்</h4>
    <div>
      <img src="img/f4y3wIVdRy2NuyItH6DA_vannathupuchi.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page28-button117" style="font-weight:600;font-size:22px;" class="button button-positive button-block">வண்ணத்துப்பூச்சி </button>
    <div>
      <img src="img/Ie7ItQPzQIKjVZ6uzjjB_unavagam.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page28-button118" style="font-weight:600;font-size:25px;" class="button button-balanced button-block">உணவகம்</button>
    <div>
      <img src="img/3po13JhMTI6pyYoNR8bZ_kaalani.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page28-button119" style="font-weight:600;font-size:25px;" class="button button-royal button-block">காலணி</button>
    <div>
      <img src="img/paBL4xCCSZWjApsohTvS_vPiEmdixTej46MskEDP6Dp8Sx6G7oudu83TTel65YNC8QK9XQgtVwcMtEfb5rLdHQqX0GqGGzE2g1cTOHz4Vijmmpk4BmSdtHiclKTIVbsDRVs95w3l4D23RzDOWcCwm.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page28-button120" style="font-weight:600;font-size:25px;" class="button button-assertive button-block">மாணவர்கள்</button>
    <div>
      <img src="img/VzHm5OyCShWOFoVT8uzR_png-hd-for-marriage-photoshop-clipart-mandap-2-1024.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="page28-button121" style="font-weight:600;font-size:25px;" class="button button-dark button-block">திருமணம்</button>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
  </ion-content>
</ion-view>